.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 110px;
  background-color: black;
}

.cart-img {
  width: 30px;
  height: auto;
}

.nav-links{
  display: flex;
  align-items: center;
}

.navigation a{
  margin: 5px 30px 5px 30px;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.home, .contacts, .shop, .cart{
  position: relative;
  display: flex;
  height: 100%;
}

.shop{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  gap: 10px;
}

.shopCard{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 220px;
  top: 110px;
}

.shopCardImage{
  position: relative;
  width: 50%;
  height: 50%;
}

.shopCardImage>img{
  position: relative;
  width: 100%;
  height: 100%;
}

.shopCardDetails{

}